# variety backgrounds
**/variety/Enabled/*

# vim
.netrwhist
Session.vim
cache_directory

# nvim
packer_compiled.lua

# xmonad
*.errors
xmonad-x86_64-linux

# haskell
*.o
*.hi

# icons
icon-theme.cache

# general
.env
