! ------------------------------------------------------------------------------
! Reload with xrdb -merge ~/.Xresources
! or alias merge
! ------------------------------------------------------------------------------

! Xorg issue nov 2021 - use and change if needed
!Xft.dpi:   96
!Xcursor.size: 16

! general settings
*.foreground:   #dcdcdc
*.background:   #545454

*.cursorColor:  #c8c8c8

! black
*.color0:       #3f3f3f
*.color8:       #545454

! red
*.color1:       #cc0000
*.color9:       #fc5454

! green
*.color2:       #4e9a06
*.color10:      #8ae234

! yellow
*.color3:       #c4a000
*.color11:      #fce94f

! blue
*.color4:       #3465a4
*.color12:      #94bff3

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #06989a
*.color14:      #93e0e3

! white
*.color7:       #dcdccc
*.color15:      #ffffff

!!! get your color schemes from here
!!! https://terminal.sexy/
!!! copy/paste colorcodes in
!!! begin

